  </main>
  <footer>
    <% if (locals.loggedIn) { %>
      <p>Innsrkáður notandi: <%= locals.user.name %> (<%= locals.user.username %>)
    <% } else { %>
      <p>Þú ert ekki innskráður notandi, <a href="/admin">Skráðu þig inn</a></p>
    <% } %>
  </footer>
</body>

</html>
