  </main>
  <footer>
    <% if (locals.loggedIn) { %>
      <p>Innsrkáður notandi: <%= locals.user.name %> <a href="/logout">útskrá</a></a></p>
    <% } else { %>
      <p>Þú ert ekki innskráður notandi, <a href="/admin">Skráðu þig inn</a></p>
    <% } %>
  </footer>
  </div>
</body>

</html>
