<%- include('header') -%>
<section>
  <h2>Efstu liðin í Skotdeildinni</h2>
  <p>TODO</p>
  <p><a href="/stada">Skoða stöðuna</a></p>
</section>

<section>
  <h2>Seinustu leikir í Skotdeildinni</h2>
  <%- include('games') -%>
  <p><a href="/leikir">Skoða alla leiki</a></p>
</section>

<section>
  <h2>Umsjónarsíða</h2>
  
  <% if (locals.loggedIn) { %>
    <p>ýttu á <a href="/admin">Umsjónarsíða</a> til að eiga við leiki og stöðuna</p>
  <% } else { %>
    <p><a href="/admin">Innskráningar krafið</a> til að eiga við gögn:</p>
  <% } %>
</section>

<%- include('footer') -%>
