<%- include('header') -%>

<h2>Seinustu leikir</h2>

<%- include('games') -%>

<% if (locals.loggedIn) { %>
    <p>ýttu á <a href="/admin">Umsjónarsíða</a> til að eiga við gögn</p>
  <% }  %>

<%- include('footer') -%>
