<form method="post" action="/skra">
  <div>
    <label for="home_name">Heima lið</label>
    <select id="home_name" name="home_name">
      <% teams.forEach(function(team) { %>
        <option value="<%= team.id %>"><%= team.name %></option>
      <% }); %>
    </select>
  </div>
  <div>
    <label for="home_score">Heima skor</label>
    <input type="text" id="home_score" name="home_score">
  </div>
  
  <div>
    <label for="away_score">Úti lið skor</label>
    <input type="text" id="away_score" name="away_score">
  </div>
  <div>
    <label for="away_name">Úti lið</label>
    <select id="away_name" name="away_name">
      <% teams.forEach(function(team) { %>
        <option value="<%= team.id %>"><%= team.name %></option>
      <% }); %>
    </select>
  </div>
  <div>
    <label for="Dagsetning">Dagsetning</label>
    <input type="date" id="Dagsetning" name="Dagsetning">
  </div>
  <button>Skrá</button>
</form>
